/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
/* Variables */
/* Fondo */
.static {
  display: none;
}

.fondo {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 192, 203, 0.9);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  z-index: 1200;
}

/* articles */
.article_covid {
  color: #FF383D;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Red Hat Display', sans-serif;
}

.article_title {
  color: #035755;
  font-size: 43px;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 63px;
}

.article_des {
  color: #4B4F51;
  font-family: 'Archivo', sans-serif;
  font-size: 18px;
  line-height: 40px;
  margin-top: 29px;
  margin-bottom: 73px;
}

/* Cards */
/* Contagion Cards */
.contagion_card {
  padding-top: 65px;
  border-bottom: 4px solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
}

.contagion_card-img {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.contagion_card-img-hands {
  margin-top: -45px;
}

.contagion_card-text {
  margin-top: 55px;
  width: 100%;
  text-align: center;
}

.contagion_card-text-title {
  color: #035755;
  font-size: 25px;
  font-weight: 700;
}

.contagion_card-text-des {
  text-align: center;
  color: #4B4F51;
  font-size: 15px;
  line-height: 33.3px;
  margin-top: 18px;
  margin-bottom: 60px;
}

.contagion_card:hover {
  border-bottom: 4px solid #FF383D;
}

/* What Should We Do Card */
.cardw {
  padding-top: 150px;
}

.cardw_img {
  float: left;
}

.cardw_text {
  float: right;
}

.cardw_text-title {
  color: #035755;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cardw_text-des {
  color: #4B4F51;
  font-size: 18px;
  line-height: 38.78px;
}

@media (max-width: 992px) {
  .cardw {
    padding-top: 50px;
    text-align: center;
  }
  .cardw_img {
    float: none;
  }
  .cardw_text {
    float: none;
  }
}

/* Backgrounds */
.bg-viruspink {
  background: url(../images/virus-pink/virus-pink.svg) no-repeat right 60%, url(../images/virus-pink/virus-pink_small.svg) no-repeat 97% 100%;
}

.bg-viruspinksmall {
  background: url(../images/virus-pink/virus-pink.svg) no-repeat left 100%;
}

.bg-virusgreen {
  background: url(../images/virus-green/virus-green.svg) no-repeat left 25%, url(../images/virus-pink/virus-pink.svg) no-repeat right 90%, url(../images/virus-green/virus-greensmall.svg) no-repeat 98% 77%;
}

.bg-particles {
  background: url(../images/partycles/partycle.svg) no-repeat right 100%, url(../images/partycles/partycle-small.svg) no-repeat left 80%;
}

.bg-pink_trans {
  background: url(../images/virus-pink/virus-pink_trans.svg) no-repeat right 100%, url(../images/virus-pink/virus-pink_transmall.svg) no-repeat 95% 6 0%;
}

/* Margins */
/* margins */
.marginb {
  margin-bottom: 148px;
}

.marginb2 {
  margin-bottom: 50px;
}

/* Button Responsive */
/* button responsive */
.button_nav {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-top: 40px;
}

.button_nav-1 {
  margin-top: 10px;
  border-bottom: 2px solid #FF383D;
}

.button_nav-2 {
  margin-top: 10px;
  border-bottom: 2px solid #FF383D;
}

.button_nav-3 {
  margin-top: 10px;
  border-bottom: 2px solid #FF383D;
}

@media (max-width: 992px) {
  .button_nav {
    display: block;
  }
}

/* button red */
.button_red {
  right: 0px;
  font-size: 14px;
  color: #FF383D;
  font-weight: 700;
  text-decoration: none;
  padding: 14px 35px;
  border: 2px solid #FF383D;
  border-radius: 30px;
  font-family: sans-serif;
}

.button_red:hover {
  text-decoration: none;
  color: #FF383D;
}

/* button background red */
.buttonbg_red {
  color: #FFFFFF;
  background-color: #FF383D;
  padding: 20px 55px;
  font-size: 20px;
  border: 2px solid #FF383D;
  border-radius: 65px;
  text-decoration: none;
  font-weight: 700;
  margin: 39px 0px;
}

.buttonbg_red:hover {
  color: #FFFFFF;
}

/* button background white */
.buttonbg_pink {
  color: #FF383D;
  background-color: rgba(250, 86, 82, 0.15);
  padding: 20px 55px;
  font-size: 20px;
  border: none;
  border-radius: 65px;
  text-decoration: none;
  font-weight: 700;
  margin: 39px 0px;
}

/* Header */
.logo {
  padding: 30px 10px;
}

/* header */
.nav {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-enlace {
  font-family: sans-serif;
  margin: 0px 20px;
  text-decoration: none;
  color: #035755;
  font-size: 14px;
  font-weight: 700;
}

.nav-enlace:hover {
  color: #FF383D;
  text-decoration: none;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
}

/* left_Girl */
.left_girl {
  padding-top: 250px;
  padding-bottom: 200px;
}

.right-girl {
  text-align: center;
}

@media (max-width: 992px) {
  .left_girl {
    text-align: center;
    padding: 0px;
    margin: 70px 0px 130px 0px;
  }
  .right-girl {
    margin-top: 60px;
  }
}

@media (max-width: 992px) {
  .right {
    width: 100%;
    height: 100%;
  }
  .right_image {
    width: 100%;
    height: 100%;
  }
}

/* What Is Covid-19 */
/* What Is COVID-19 */
.what_right {
  margin-left: 50px;
}

@media (max-width: 992px) {
  .what_right {
    text-align: center;
    margin-top: -120px;
    margin-left: 0px;
    margin-bottom: 250px;
  }
}

/* Footer */
/* footer */
.map {
  position: relative;
}

.map_plu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -55px;
  left: 58px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
          box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
}

.map_plu-button {
  padding: 23px 27px;
}

.map-search {
  background-color: #FFFFFF;
  position: absolute;
  right: 0px;
  top: -55px;
  -webkit-box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
          box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
}

.map-search_lup {
  padding: 22px 24px;
}

.help {
  color: #0C6C44;
  line-height: 70.78px;
  font-weight: 700;
}

/* Search */
.search {
  width: 100%;
  position: relative;
}

.search_text {
  width: 100%;
  height: 114px;
  border: none;
  padding-left: 41px;
  border-radius: 57px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
          box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
}

.search_button {
  width: 209px;
  height: 78px;
  margin: 18px 18px;
  position: absolute;
  right: 0;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF383D;
  border: none;
  border-radius: 157px;
}

.footer_nav {
  margin-top: 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_nav-enlace {
  color: #035755;
  text-decoration: none;
  font-size: 18px;
  margin: 0px 20px;
}

.footer_nav-enlace:hover {
  color: #035755;
}

.footer-logo {
  width: 100%;
  text-align: center;
}

.socials {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
/*# sourceMappingURL=styles.css.map */