.symptopms_text{
		
  width: 100%;
  text-align: center;
  
  &-title {
      font-family: 'Red Hat Display';
      color: $red;
      font-size: 29px;
  }

  &-title2 {
      font-family: 'Red Hat Display';
      color: $green;
      font-size: 50px;
  }

  &-des {
      margin-top: 31px;
      line-height: 38.7px;
      color: $black;
      font-size: 18px;
  }
}

.symptomps_image {
  
  width: 100%;
  height: 100%;
  text-align: center;
}