/* What Is COVID-19 */
.what_right {
	margin-left: 50px;
}

@media(max-width:992px) {
  .what_right{
    text-align: center;
    margin-top: -120px;
    margin-left: 0px;
    margin-bottom: 250px;
  }
}
