.article {
  &_covid {
    color: $red;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
  }

  &_title {
    color: $green;
    font-size: 43px;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 63px;
  }

  &_des {
    color: $black;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin-top: 29px;
    margin-bottom: 73px;
  }
}