.bg-viruspink {
  background: url(../images/virus-pink/virus-pink.svg) no-repeat right 60%, url(../images/virus-pink/virus-pink_small.svg) no-repeat 97% 100%;
}
.bg-viruspinksmall {
  background: url(../images/virus-pink/virus-pink.svg) no-repeat left 100%;
}
.bg-virusgreen {
  background: url(../images/virus-green/virus-green.svg) no-repeat left 25%, url(../images/virus-pink/virus-pink.svg) no-repeat right 90%, url(../images/virus-green/virus-greensmall.svg) no-repeat 98% 77%;
}
.bg-particles {
  background: url(../images/partycles/partycle.svg) no-repeat right 100%, url(../images/partycles/partycle-small.svg) no-repeat left 80%;
}
.bg-pink_trans {
  background: url(../images/virus-pink/virus-pink_trans.svg) no-repeat right 100%, url(../images/virus-pink/virus-pink_transmall.svg) no-repeat 95% 6 0%;
}